<!DOCTYPE html>
<html>
<head>
	<title>{{request.session.user_level}} Dashboard</title>
	{%load staticfiles%}
	<link rel="stylesheet" type="text/css" href="{% static 'user_dash/css/bootstrap.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'user_dash/css/styles.css' %}">
</head>
<body>
	<div class="header">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="{% url 'dashboard' %}">Dashboard</a></li>
						<li class="active"><a href="{% url 'profile' id=request.session.id %}">Your Profile</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="{%url 'logOut'%}">Log Out</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				{%if request.session.user_level == 'user'%}
				<h2>All Users</h2>
				{%elif request.session.user_level == 'admin'%}
				<h2>Manage Users</h2>
				<a href="{%url 'addUserPage' %}">Add a User</a>
				{%endif%}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-8">
				<table class="table">
					<thead>
						<th>ID</th>
						<th>Name</th>
						<th>email</th>
						<th>created_at</th>
						<th>user_level</th>
						{%if request.session.user_level == 'admin'%}
						<th>actions</th>
						{%endif%}
					</thead>
				{%for user in User%}
					<tr>
						<td>{{user.id}}</td>
						<td><a href="{%url 'profile' id=user.id%}">{{user.first_name}} {{user.last_name}}<a></td>
						<td>{{user.email}}</td>
						<td>{{user.created_at}}</td>
						<td>{{user.user_level}}</td>
						{%if request.session.user_level == 'admin'%}
						<td><a href="{%url 'edit' id=user.id%}">edit</a> <a href="{%url 'remove' id=user.id%}">remove</a></td>
						{%endif%}
					</tr>
				{%endfor%}
				</table>
			</div>
		</div>
	</div>
	<div class="footer">
	<p>Created by: Blake Prescott</p>
	<p>Email: prescottblake@gmail.com</p>
	<p>Written with HTML, CSS, javascript, jQuery, python, flask, and MySQL</p>
	</div>
</body>
</html>