<!DOCTYPE html>
<html>
<head>
	<title>Edit User {{User.id}}</title>
	{%load staticfiles%}
	<link rel="stylesheet" type="text/css" href="{% static 'user_dash/css/bootstrap.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'user_dash/css/styles.css' %}">
</head>
</head>
<body>
	<div class="header">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="{% url 'dashboard' %}">Dashboard</a></li>
						<li class="active"><a href="{% url 'profile' id=request.session.id%}">Your Profile</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="{%url 'logOut'%}">Log Out</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="container">
		<div class="row">
		<div class="col-xs-3"></div>
			<div class="col-xs-6 noPadLeft">
				<h2>Edit User {{User.id}}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3"></div>
			<div id="loginBox" class="col-xs-6">
				{% if messages%}
				<ul class="messages">
					{%for message in messages%}
					<li>{{message}}</li>
					{%endfor%}
				{%endif%}
				<form action="{%url 'update' id=User.id%}" method="POST">
					{% csrf_token %}
					<ul>
						<li>
							<fieldset class="form-group">
								<label>First Name:</label>
								<input type="text" name="first_name" value="{{User.first_name}}">
							</fieldset>
						</li>
						<li>
							<fieldset class="form-group">
								<label>Last Name:</label>
									<input type="text" name="last_name" value="{{User.last_name}}">
							</fieldset>
						</li>
						<li>
							<fieldset class="form-group">
								<label>Email:</label>
									<input type="text" name="email" value="{{User.email}}">
							</fieldset>
						</li>
						<li>
							<fieldset class="form-group">
								<label>User Level:</label>
									<select name='user_level'>
										<option value="user">User</option>
										<option value="admin">Admin</option>
									</select>
							</fieldset>
						</li>
						<li>
							<fieldset class="form-group">
								<input type="submit" value="Save">
							</fieldset>
						</li>
					</ul>
				</form>	
			</div>
		</div>
		<a href="{%url 'dashboard'%}">Go Back</a>
	</div>
	<div class="footer">
	<p>Created by: Blake Prescott</p>
	<p>Email: prescottblake@gmail.com</p>
	<p>Written with HTML, CSS, javascript, jQuery, python, flask, and MySQL</p>
	</div>
</body>
</html>