<!DOCTYPE html>
<html>
<head>
	<title>Login Registration</title>
	{%load staticfiles%}
	<link rel="stylesheet" type="text/css" href="{% static 'user_dash/css/bootstrap.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'user_dash/css/styles.css' %}">
	<script type="text/javascript" src="{%static 'user_dash/js/jquery-3.0.0.min.js'%}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".loginRegisterSwitch").click(function(event) {
				$(".loginRegisterSwitch, .loginRegisterForm").toggle();
			});
		});	
	</script>
</head>
<body>
	<div class="header">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="{% url 'index' %}">Home</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<!-- Bootstrap container -->
	<div class="container">
	<!-- This is the only row in the login screen -->
		<div class="row loginScreen">
			<div class="col-xs-3"></div>
			<div id="loginBox" class="col-xs-6">
				{% if messages%}
				<ul class="messages">
					{%for message in messages%}
					<li>{{message}}</li>
					{%endfor%}
				{%endif%}
				<!-- Login form -->
				<form action="{%url 'login'%}" method="POST" id="loginForm" class="loginRegisterForm">
				{%csrf_token%}
					<ul>
						<li>
							<fieldset class="form-group">
								<label>Email:</label>
								<input type="text" name="email">
							</fieldset>
						</li>
						<li>
							<fieldset class="form-group">
								<label>Password:</label>
								<input type="password" name="password">
							</fieldset>
						</li>
					</ul>
					<div class="centered"> 
						<fieldset class="form-group">
							<button class="btn btn-primary" type="/submit">Log In</button>
						</fieldset>
					</div>
				</form>
				<!-- Register form (hidden when initially loaded) -->
				<form action="{%url 'register'%}" method="POST" id="registerForm" class="loginRegisterForm">
				{%csrf_token%}
					<ul>
						<li>
							<fieldset class="form-group">
								<label>Email:</label>
								<input type="text" name="email">
							</fieldset>
						</li>
						<li>
							<fieldset class="form-group">
								<label>First Name:</label>
								<input type="text" name="first_name">
							</fieldset>
						</li>
						<li>
							<fieldset class="form-group">
								<label>Last Name:</label>
								<input type="text" name="last_name">
							</fieldset>
						</li>
						<li>
							<fieldset class="form-group">
								<label>Password:</label>
								<input type="password" name="password">
							</fieldset>
						</li>
						<li>
							<fieldset class="form-group">
								<label>Confirm Password:</label>
								<input type="password" name="confirm_password">
							</fieldset>
						</li>
					</ul>
					<div class="centered">
						<fieldset class="form-group">
							<button class="btn btn-primary" type="submit">Register</button>
						</fieldset>
					</div>
				</form>
				<!-- Buttons toggle login/registration -->
				<div class="centered">
					<button class="loginRegisterSwitch btn btn-default" id="loginSwitch">Login</button>
					<button class="loginRegisterSwitch btn btn-default" id="registerSwitch">Register</button>
				</div>
			</div>
			<div class="col-xs-3"></div>
		</div>
	</div>
	<div class="footer">
	<p>Created by: Blake Prescott</p>
	<p>Email: prescottblake@gmail.com</p>
	<p>Written with HTML, CSS, javascript, jQuery, python, flask, and MySQL</p>
	</div>
</body>
</html>